mat-card {
  width: 30%;
  border: #003300;
  box-shadow: black 2px 2px 15px;
}


mat-card-header {
  /*background: #003300;*/
  background: #6eab47;
}

mat-card-title{
  text-align: center;
}

mat-card-title div{
  display: inline-block;
}

mat-card-title div img {
  vertical-align: middle;
  width: 100%;
}

mat-card-title div p {
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 5%;
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

button {
  color: white !important;
}

button[btn-a] {
  background: darkolivegreen !important;

}

button[btn-b] {
  background: #355E3B !important;
}

/*::ng-deep .mat-mdc-text-field-wrapper mdc-text-field ng-tns-c114-0 mdc-text-field--outlined {*/
/*  background-color: red !important;*/
/*}*/

/*::ng-deep .mat-mdc-text-field-wrapper {*/
/*  background-color: red !important;*/
/*  border-radius: 5px;*/
/*}*/
