<mat-grid-list [cols]="12" rowHeight="4rem">
 <!--Item Form-->
  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Item Form</mat-card-title>
      </mat-card-header>
      <mat-card-content id="itemForm">

        <mat-form [formGroup]="itemForm">
          <mat-form-field appearance="outline">
            <mat-label>Item Code</mat-label>
            <input matInput formControlName="code">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <div id="imgpanel">
            <img [src]="imageempurl">
            <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="photo">
            <label for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Item Purchase Price</mat-label>
            <input matInput formControlName="pprice">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Item Sale Price</mat-label>
            <input matInput formControlName="sprice">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Item Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date of Introduced</mat-label>
            <input matInput [matDatepicker]="dointro" formControlName="dointroduced">
            <mat-datepicker-toggle matSuffix [for]="dointro"></mat-datepicker-toggle>
            <mat-datepicker #dointro></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Item ROP</mat-label>
            <input matInput formControlName="rop">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select a Item Status</mat-label>
            <mat-select formControlName="itemstatus">
              <mat-option *ngFor="let status of itemstatses" [value]="status">{{status.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select a Item Brand</mat-label>
            <mat-select formControlName="brand">
              <mat-option *ngFor="let brand of brands" [value]="brand">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select a Item Subcategory</mat-label>
            <mat-select formControlName="subcategory">
              <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory">{{subcategory.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select a Item Unittype</mat-label>
            <mat-select formControlName="unittype">
              <mat-option *ngFor="let unittype of unittypes" [value]="unittype">{{unittype.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select a Item Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="add()" [disabled]="!(enaAdd && hasInsertAuthority)">Add</button>
          <button mat-raised-button (click)="update()" [disabled]="!(enaUpd && hasUpdateAuthority)">Update</button>
          <button mat-raised-button (click)="clear()">Clear</button>
          <button mat-raised-button (click)="delete()" [disabled]="!(enaDel && hasDeleteAuthority)">Delete</button>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Item Search-->
  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Item Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="itemSearchForm">

          <mat-form-field appearance="outline" class="sssearch">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="ssname">
          </mat-form-field>

          <mat-form-field appearance="outline"  class="sssearch">
            <mat-label>Select a Item Brand</mat-label>
            <mat-select formControlName="ssbrand">
              <mat-option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>

          <mat-form-field appearance="outline"  class="sssearch">
            <mat-label>Select a Item Category</mat-label>
            <mat-select formControlName="sscateogry">
              <mat-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline"  class="sssearch">
            <mat-label>Select a Item Subcategory</mat-label>
            <mat-select formControlName="sssubcateogry">
              <mat-option *ngFor="let sub of subcategories" [value]="sub.name">{{sub.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>

          <mat-form-field appearance="outline"  class="sssearch">
            <mat-label>Select a Item Status</mat-label>
            <mat-select formControlName="ssstatus">
              <mat-option *ngFor="let state of itemstatses" [value]="state.name">{{state.name}}</mat-option>
            </mat-select>
          </mat-form-field>



<!--          <mat-form-field appearance="outline" class="sssearch">-->
<!--            <mat-label>Choose a Start date</mat-label>-->
<!--            <input matInput [matDatepicker]="picker" formControlName="ssdointroducedStart">-->
<!--            <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker></mat-datepicker>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline" class="sssearch">-->
<!--            <mat-label>Choose a End date</mat-label>-->
<!--            <input matInput [matDatepicker]="picker2" formControlName="ssdointroducedEnd">-->
<!--            <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker2></mat-datepicker>-->
<!--          </mat-form-field>-->

          <mat-form-field  appearance="outline" class="sssearch">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="rangepicker" [rangePicker]="picker" >
              <input matStartDate formControlName="ssdointroducedStart" placeholder="Start date">
              <input matEndDate formControlName="ssdointroducedEnd" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

          </mat-form-field>

          <br><br><br>
          <button mat-raised-button (click)="search()">Search</button>
          <button mat-raised-button (click)="searchClear()">Clear Search</button>

        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Item View-->
  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Item View</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscol of cscoloumns; let i = index" [matColumnDef]="cscol">
            <mat-header-cell *matHeaderCellDef>
            <mat-form [formGroup]="csSearchForm" class="cssearch">
              <mat-form-field appearance="outline">
                <mat-label>{{cscolpromts[i]}}</mat-label>
                <input matInput [formControlName]="cscol"
                (keyup)="filterTable()">
              </mat-form-field>
            </mat-form>
            </mat-header-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscoloumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row' : row === selectedRow}"></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
