<mat-toolbar>
  <mat-toolbar-row style="background-image: url('assets/headerimg.png')">

    <span class="toolbar-left">
      <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>menu</mat-icon></button>
      <img src="/assets/small-white-open.png" class="img-logo">
    </span>

    <span class="toolbar-right">
      <label class="lbl-user">{{ authService.getUsername().toUpperCase() }}</label>
      <img [src]="userImage" class="img-user"/>
      <button mat-icon-button (click)="logout()" class="btn-logout"><mat-icon>exit_to_app</mat-icon></button>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">

    <mat-nav-list>

      <mat-list-item>
        <mat-slide-toggle (change)="darkModeSevice.toggleMode()">
          Dark Mode
        </mat-slide-toggle>
      </mat-list-item>

      <mat-list-item routerLink="home"><mat-icon>home</mat-icon>Home</mat-list-item>

      <mat-list-item routerLink="dashboard">
        <mat-icon>widgets</mat-icon>Dashboard
      </mat-list-item>

     <!-- Dynamically add Mat Expansion Panels with Menus and Menu Items -->
      <ng-container *ngFor="let menuItem of menuGroup">
        <mat-expansion-panel *ngIf="isMenuVisible(menuItem.Menu)">
          <mat-expansion-panel-header>
            <mat-list-item>
              <mat-icon>{{ matIcons[menuItem.Menu] }}</mat-icon>{{ menuItem.Menu }}
            </mat-list-item>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let menuItem of menuItem.MenuItems">
            <mat-list-item *ngIf="menuItem.isVisible">
              <mat-list-item [routerLink]="menuItem.isVisible ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
            </mat-list-item>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>

      <mat-list-item>
        <a routerLink="reports"><mat-icon>poll</mat-icon>Report</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
